@page "/meta/excluir/{id:int}/{nome}"
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager navigationManager

<PageTitle>Metas</PageTitle>

<h2>Confirmação da exclusão</h2>
<h5> Tem certeza de que deseja excluir a meta <strong>@Nome</strong>?</h5>

<button class="btn btn-danger" @onclick="ConfirmarExclusao">Excluir</button>
<a onclick="history.back()" class="btn btn-default">Cancelar</a>

<br />
@if (mensagem != string.Empty)
{
    <label class="text text-danger">@mensagem</label>
}

@code {
    /// <summary>
    /// Dados da seção do usuário
    /// </summary>
    SessionModel sessionModel = new SessionModel();

    public string mensagem { get; set; }

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Nome { get; set; }



    public async Task ConfirmarExclusao()
    {
        mensagem = "";
        // ---------------------------------------------------------------------------------------
        // Verificando se o login já foi efetuado
        var conteudoSessionStorage = await sessionStorage.GetAsync<SessionModel>("sessionModel");
        if (conteudoSessionStorage.Value == null)
        {
            sessionModel = new SessionModel();
        }
        else
        {
            sessionModel = conteudoSessionStorage.Value;
        }

        if (string.IsNullOrWhiteSpace(sessionModel.Token))
        {
            navigationManager.NavigateTo("/", true);
        }
        // ---------------------------------------------------------------------------------------


        var retornoService = await MetaService.ExcluirMeta(sessionModel.Token, Id);

        if (retornoService.Codigo != ApiFinancas.Enums.CodigosRetornoEnum.Sucesso)
        {
            mensagem = retornoService.Mensagem;
            return;
        }

        Navigation.NavigateTo("/meta");
    }
}
